<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="./media.css">
    <link rel="stylesheet" href="./gallery.css">
    <title>Document</title>
</head>

<body>
    <header class="header"> 
        <div class="header__inner"> 
          <div class="navogation"> 
            <h4 class="header__logo">GRAMOTEY</h4> 
            <nav class="nav__links"> 
              <a href="./main.html">Главное</a> 
              <a href="./table2.html">Ученикам</a> 
              <a href="./gallery.html">Галарея</a>
            </nav> 
          </div> 
        </div> 
      </header> 
    <section class="gallary">
        <div class="container">
            <div class="gallary__item">
                <div class="row-outer">
                    <div class="heading">
                        <h3>Наша галерея</h3>
                    </div>
                    <div class="grid-gallery">
                        <div class="item item1"></div>
                        <div class="item item2"></div>
                        <div class="item item3"></div>
                        <div class="item item4"></div>
                        <div class="item item5"></div>
                        <div class="item item6"></div>
                        <div class="item item7"></div>
                        <div class="item item8"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

</html>