{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="title tables__title">
    <h3>Родителям</h3>
    <p>
        - Прием в школу

    </p>
</div>
<div class="tables__desc">
    <p>
        Этап №1: родители собирают пакет документов (копии паспортов родителей, копия свидетельства о
        рождении ребенка, справка о составе семьи, 1 фото 3х4)
        Этап №2: родитель пишет заявление в приемной школы с 1 по 31 мая
        Этап №3: родители приходят на собеседование с ребенком (оба родителя и ребенок) по графику с 1
        по 30
        июня
        Этап №4: родитель приводит ребенка на вступительные испытания по графику с 1 по 30 июня при
        условии
        наличия мест и своевременно поданного заявления
        Этап №5: школа производит зачисление ребенка в соответствующий класс при условии успешного
        прохождения ребенком вступительных испытаний

    </p>
</div>


{% endblock %}